<div class="divContainer">
  <h2>Contact Us</h2>
  <h3>any questions?</h3>
  <p>Professional and adapted answers, non-stop from 8am to 7pm from Monday to Saturday.
  </p>
  <p> Contact us by phone (123) 456-7890 , by e-mail ( contact@artstore.com) or by chat.</p>
    <div class="imageContainer"></div>
    <div class="text">
      <p>
      Years of Expertise at your service. Art Store offers a wide selection of artist's products by the many trusted brands in the marketplace. Our knowledgeable staff, all the artists themselves - boast that they offer the best possible service.
      </p>
    </div>
</div>
