<div class="divContainer">
  <div>
  <h2>About Us</h2>
  <h3>A team at your service!</h3>
    <div class="imageContainer"></div>
    <div class="imageContainer2"></div>
    <div class="imageContainer3"></div>
  </div>
  <div class="text">
  <p>
  When it first opened, Art Store wanted to serve Londoners with whatever they needed. Thanks to you today Art Store is regarded as one of the country's largest art shops.
  </p>

  <p>
  Art Store works with individuals, artists, and arts organizations across the country to share art.
  </p>
  </div>
</div>
