<div class="divContainer">
  <h1>Hello!</h1>

  <p>It's good to see you here!</p>
  <p>This is out Final Project for JavaScript 3</p>
  <p>Go ahead and check out some of our products!</p>
  <div class="imageContainer"></div>
<br/>


<div class="text">
<p>We believe that art is dynamic, personal and connected right now, and so should the experience of buying and living with it. From the moment you navigate on our website until the day your art is delivered, our team has one goal in mind: to delight you at each stage.</p>
</div>
<br/>
  <div class="imageContainer2">We have the material you have the insights!</div>
  <p>Let your thoughts speak!</p>

  <p>Abdelilah, Licia and Makayla</p>
</div>
